<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header">
          Trademark
        </div>
        <div class="card-block">
         <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
              <tr>
                <th>WORDMARK</th>
                <th>CLASS</th>
                <th>STATUS</th>
                <th>iMAGE</th>
              </tr>
              <tr *ngFor="let item of trademark;" >
                <td>{{item.wordmark}}</td>
                <td>{{item.class}}</td>
                <td>{{item.status}}</td>
                <td>{{item.image}}</td>
              </tr>
        </table>
        </div>
      </div>
    </div><!--/.col-->
    
  </div><!--/.row-->
</div>
